:root {
  --primary-color: #181818;
  --secondary-color: #e0e0e0;
  --background-color: #1f1f1f;
  --light-shade: #373737;
}

body {
  margin: 0;
  background-color: var(--background-color);
  /*  width: 100vh;*/
  height: 100vh;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.title-bar {
  background-color: var(--primary-color);
  width: 100%;
  height: 2rem;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
}

.control-btns {
  width: fit-content;
  margin-right: 1vw;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.control-btns button {
  background-color: var(--primary-color);
  width: 2rem;
  height: 100%;
  border: none;
  color: var(--secondary-color);
}

.control-btns button:hover {
  background-color: var(--light-shade);
  transition: 0.4s;
}

.logo-span {
  width: fit-content;
  margin-left: 1vw;
}

.title-bar button {
  -webkit-app-region: no-drag;
}

#content {
  background-color: rgba(255, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#simulator-table {
  background-color: rgba(0, 255, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#component-area {
  background-color: blueviolet;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

#led-strip {
  background-color: gold;
  color: black;
  width: 90%;
  height: min-content;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.chip {
  margin: 1rem 1rem;
  border: 2px solid black;
  height: 4rem;
  width: 4rem;
}

#cable-area {
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cable {
  width: 2rem;
  height: 0.6rem;
}

#cable-r {
  background-color: red;
}

#cable-b {
  background-color: black;
}

#cable-g {
  background-color: green;
}
